@import 'styles/mixins';
@import 'styles/variables';

.appContent {
  margin: 0 auto;
  max-width: 800px;
  padding: 59px 40px 0;

  @include medium-up {
    padding-top: 74px;
  }
}

.notFound {
  padding: 59px 0 0;
  margin: 0;
  max-width: none;
  height: calc(100vh - 59px);

  @include medium-up {
    padding-top: 74px;
    height: calc(100vh - 74px);
  }
}
