@value colors: '../../styles/colors.scss';
@value elephant, jungle-mist, porcelain from colors;

.icon {
  margin: 10px;
}

.primary {
  color: elephant;

  &:hover {
    color: jungle-mist;
  }
}

.secondary {
  color: jungle-mist;

  &:hover {
    color: elephant;
  }
}

.tertiary {
  color: porcelain;

  &:hover {
    color: jungle-mist;
  }
}

.animated {
  left: 0;
  position: absolute;
  top: 0;

  &.icon {
    &.default {
      transition: opacity .3s, transform .3s;
    }

    &.transform {
      opacity: 0;
      transform: rotate(-180deg) scale(.5);
      transition: opacity .3s, transform .3s;
    }
  }

  &.showAnimation {
    &.icon {
      &.default {
        opacity: 0;
        transform: rotate(180deg) scale(.5);
      }

      &.transform {
        opacity: 1;
        transform: rotate(0deg) scale(1);
      }
    }
  }
}

// &--animated {
//   left: 0;
//   position: absolute;
//   top: 0;

  // &.icon {
  //   &__default {
  //     transition: opacity .3s, transform .3s;
  //   }

  //   &__transform {
  //     opacity: 0;
  //     transform: rotate(-180deg) scale(.5);
  //     transition: opacity .3s, transform .3s;
  //   }
  // }

  // &.show-animation {
  //   &.icon {
  //     &__default {
  //       opacity: 0;
  //       transform: rotate(180deg) scale(.5);
  //     }

  //     &__transform {
  //       opacity: 1;
  //       transform: rotate(0deg) scale(1);
  //     }
  //   }
  // }
// }
