$width: 300px;

.indexpage {
  display: flex;
  flex-direction: column;

  &__imagecontainer {
    align-self: center;
    border-radius: 100%;
    height: $width;
    margin: 40px;
    min-width: $width;
    overflow: hidden;
    width: $width;

    img {
      height: 100%;
      margin-left: -50px;
    }
  }
}