// Styles for Index page.

.index {
  $image-container-size: 300px;

  display: flex;
  flex-direction: column;

  &__imagecontainer {
    align-self: center;
    border-radius: 100%;
    height: $image-container-size;
    margin: 40px;
    min-width: $image-container-size;
    overflow: hidden;
    width: $image-container-size;

    img {
      height: 100%;
      margin-left: -50px;
    }
  }
}
