@import '../components/base.scss';

.notfound {
  height: 100%;
  background: url('/404.png') 60% center/cover;

  &__container {
    display: flex;
    height: 100%;
  }

  &__textcontainer {
    align-self: center;
    background-color: $main-dark-blue-trasparent;
    color: $main-light-gray;
    padding: 20px;
    z-index: 1;
  }
}
