@import '../components/base.scss';

.notfoundpage {
  display: flex;
  height: calc(100% - 74px);

  &__textcontainer {
    align-self: center;
    background-color: $main-dark-blue-trasparent;
    color: $main-light-gray;
    margin: 20px;
    padding: 20px;
    z-index: 1;
  }

  &__image {
    height: calc(100% - 74px);
    width: 100%;
    position: absolute;
  }

  @include extra-small-down {
    &__image {
      width: 300%;
      margin-left: -140%;
    }
  }
}