@import './base.scss';

.icon {
  margin:10px;

  &--primary {
    color: $main-dark-blue;

    &:hover {
      color: $main-light-green;
    }
  }

  &--secondary {
    color: $main-light-green;

    &:hover {
      color: $main-dark-blue;
    }
  }

  &--tertiary {
    color: $main-light-gray;

    &:hover {
      color: $main-light-green;
    }
  }

  &--animated {
    position: absolute;
    top: 0;
    left: 0;

    &.icon {
      &__default {
        transition: opacity .3s, transform .3s;
      }

      &__transform {
        transition: opacity .3s, transform .3s;
        transform: rotate(-180deg) scale(.5);
        opacity: 0;
      }
    }

    &.show-animation {
      &.icon {
        &__default {
          transform: rotate(180deg) scale(.5);
          opacity: 0;
        }

        &__transform {
          transform: rotate(0deg) scale(1);
        opacity: 1;
        }
      }
    }
  }
}