@import './base.scss';

.icon {
  margin:10px;

  &--primary {
    color: $main-dark-blue;

    &:hover {
      color: $main-light-green;
    }
  }

  &--secondary {
    color: $main-light-green;

    &:hover {
      color: $main-dark-blue;
    }
  }
}