$extra-small-breakpoint-end: 575.98px;
$small-breakpoint-start: 576px;
$small-breakpoint-end: 767.98px;
$medium-breakpoint-start: 768px;
$medium-breakpoint-end:991.98px;
$large-breakpoint-start: 992px;
$large-breakpoint-end: 1199.98px;
$extra-large-breakpoint-end: 1200px;