// Normalize styles

html, body, .app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Economica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;

  header .no-margin,
  main .no-margin {
    margin: 0;
  }
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
}

main {
  height: calc(100% - 59px);
  padding-top: 59px;

  > div[role='group'] {
    height: 100%;
  }
}

.app__content {
  margin: 0 auto;
  max-width: 800px;
  padding: 1em 40px;
}

.text-center {
  text-align: center;
}

.Toastify {
  &__toast {
    &-container {
      top: 75px;
    }

    &-body {
      font-family: 'Economica', sans-serif;
    }
  }
}

.hide-medium-up {
  @include medium-up {
    display: none;
  }
}

@include medium-up {
  main {
    height: calc(100% - 74px);
    padding-top: 74px;
  }
}
