// Styles for Not Found page.

.notfound {
  height: 100%;

  &__container {
    display: flex;
    height: 100%;
    padding: 0 40px;
  }

  &__textcontainer {
    align-self: center;
    background-color: $main-dark-blue-trasparent;
    color: $main-light-gray;
    padding: 20px;
    z-index: 1;
  }
}
